#include <windows.h>

// Icon
1 ICON "icons/ico/lfpch.ico"

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,0,2,0
PRODUCTVERSION  0,0,2,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English, multilingual character set
        BEGIN
            VALUE "CompanyName",      "OperaVaria"
            VALUE "FileDescription",  "A simple GUI app to quickly and securely check if your password is safe."
            VALUE "FileVersion",      "0.0.2"
            VALUE "InternalName",     "lfpch"
            VALUE "LegalCopyright",   "GPL-3.0-only"
            VALUE "OriginalFilename", "lfpch.exe"
            VALUE "ProductName",      "Lightning-Fast Password Check"
            VALUE "ProductVersion",   "0.0.2"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252 // U.S. English, multilingual character set
    END
END
